.flex{
	display: flex;
	justify-content: center;
	background-color: #fff;
}
.color-background-first{
	background-color: #FDFBFE;
}
.color-background-gray{
	background-color: #CDCDCD;
}
.color-background-second{
	background-color: #F5F5F5;
}
.l-main-title>span{
	font-weight: bold;
}
.bold-p{
	font-weight: normal;
	padding-top: 50px;
	color: #313030;
	padding-left: 7%;
	@include tablets {
		padding-left: 0px;
	}

	@include phones {
		padding-left: 0px;
		margin-left: auto;
		margin-right: auto;
	}
}
.title-color-brown{
	color: #604944 !important;
}
.paragraph-color-gray{
	color: #777778 !important;
}